{% for code in doc.bunch_codes %}
	<div class='bunch-code'>
		<div class='row bunch-code-item'>
			<div class='col-xs-4'>
				<a class="no-decoration bunch-code-link {{ code.css_seen }}" href="/iot_device_bunch_codes/{{ code.name }}">
				<span class="indicator {{ "green" if code.enabled else "darkgrey" }}" title="{{ code.enabled }}"  > {{ code.bunch_name }}</span>
	 				<div class="small text-muted item-timestamp"
	 					title="{{ frappe.utils.pretty_date(code.modified) }}">
	 					modified {{ frappe.utils.pretty_date(code.modified) }}
	 				</div>
				</a>
			</div>
			<div class='col-xs-6'>
				 {{ code.code }}
			</div>
			<!--
			<div class='col-xs-2'>
				 <span style="display: inline-block">
					<div class="switch">
						<input type="checkbox" {{ "checked" if code.enabled }}/>
					</div>
				</span>
			</div>
			-->
		</div>
	</div>
{% endfor %}
