{% for group in doc.groups %}
	<div class='group'>
		<a class="no-decoration group-link {{ group.css_seen }}" href="/iot_company_groups/{{ group.name }}">
		<div class='row group-item'>
			<div class='col-xs-6'>
				<span class="indicator {{ "green" if group.enabled else "darkgrey" }}" title="{{ group.enabled }}"  > {{ group.name }}</span>
	 				<div class="small text-muted item-timestamp"
	 					title="{{ frappe.utils.pretty_date(group.modified) }}">
	 					modified {{ frappe.utils.pretty_date(group.modified) }}
	 				</div>
			</div>
			<div class='col-xs-2'>
				 {{ group.group_name }}
			</div>
		</div>
		</a>
	</div>
{% endfor %}
