/* CSS used here will be applied after bootstrap.css */

.device-subject, .group-subject
{
	margin: 0px;
}

.device-link, .user-link {
	font-weight: bold;
}

.device-link.seen, .user-link.seen {
	font-weight: normal;
}

.device-btn, .user-btn{
	padding: 8px;
}
