/* CSS used here will be applied after bootstrap.css */

.underline {
	text-decoration: underline;
}

.user-item:hover {
  background-color: #f7f7f7;
}

.user-item {
  color: #6c7680;
  font-size: 14px;
}

.user-subject
{
	margin: 0px;
}

.item-timestamp
{
	font-size: 10px;
	margin-left: 15px;
}
.page-container .user-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

#user-search {
	position: relative;
	outline:none;
	border:none;
}

.user-link, .timelog-link {
	font-weight: bold;
}

.user-link.seen, .timelog-link.seen {
	font-weight: normal;
}

.row-header {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 2px solid #d1d8dd;
    margin: 0!important;
}

.content_display{
  padding: 5px;
  font-weight: normal;
  font-size: 12px;
  vertical-align: middle;
  color: #6c7680;
}

.close-btn{
  display: none;
}

.content_display:hover .close-btn{
	display : block;
}

.btn-link{
	padding: 0 10px 0 0;
}

.bold {
	font-weight: bold;
}


.user-btn, .issue-btn, .timelog-btn{
	padding: 8px;
}

.gravatar-top{
	margin-top:8px;
}
