{% for user in doc.users %}
	<div class='user'>
		<a class="no-decoration user-link {{ user.css_seen }}" href="/iot_users/{{ user.name }}">
		<div class='row user-item'>
			<div class='col-xs-9'>
				<span class="indicator {{ "green" if user.enabled else "darkgrey" }}" title="{{ user.enabled }}"  > {{ user.name }}</span>
	 				<div class="small text-muted item-timestamp"
	 					title="{{ frappe.utils.pretty_date(user.modified) }}">
	 					modified {{ frappe.utils.pretty_date(user.modified) }}
	 				</div>
			</div>
			<!--
			<div class='col-xs-2'>
				 <span style="display: inline-block">
					<div class="switch">
						<input type="checkbox" {{ "checked" if user.enabled }}/>
					</div>
				</span>
			</div>
			-->
		</div>
		</a>
	</div>
{% endfor %}
