<div class="web-list-item">
	<a class="no-decoration" href="/iot_device?name={{ doc.dev_name }}">
		<div class="row">
			<div class="col-xs-5">
				{{ doc.name }}
			</div>
			<div class="col-xs-3">
				{{ doc.dev_name }}
			</div>
			<div class="col-xs-1">
					<span class="indicator {{ "green" if doc.enabled else "darkgrey"  }}">
						{{ doc.enabled }}</span>
			</div>
			<div class="col-xs-3 text-right small text-muted">
				{{ frappe.utils.pretty_date(doc.modified) }}
			</div>
		</div>
	</a>
</div>
