<div class="web-list-item">
	<!--
	<a class="no-decoration" href="/iot_companies/{{ doc.name }}">
		<div class="row">
			<div class="col-xs-5">
				{{ doc.name }}
			</div>
			<div class="col-xs-2">
				{{ doc.domain }}
			</div>
			<div class="col-xs-2">
					<span class="indicator {{ "green" if doc.enabled else "darkgrey"  }}">
						{{ "enabled" if doc.enabled else "disabled" }}</span>
			</div>
			<div class="col-xs-3 text-right small text-muted" disabled>
				{{ frappe.utils.pretty_date(doc.modified) }}
			</div>
		</div>
	</a>
	-->
	<div class='company'>
		<a class="no-decoration company-link {{ doc.css_seen }}" href="/iot_companies/{{ doc.name }}">
			<div class='row company-item'>
				<div class='col-xs-6'>
					<span class="indicator {{ "green" if doc.enabled else "darkgrey" }}" title="{{ doc.enabled }}"  > {{ doc.ent_name }}</span>
						<div class="small text-muted item-timestamp"
							title="{{ frappe.utils.pretty_date(doc.modified) }}">
							modified {{ frappe.utils.pretty_date(doc.modified) }}
						</div>
				</div>
				<div class='col-xs-2'>
					 {{ doc.domain }}
				</div>
			</div>
		</a>
	</div>
</div>
