{% extends "templates/web.html" %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h1>{{ doc.name }}</h1>
{% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/iot_device_bunch.css" %}
	</style>
{% endblock %}


{% block page_content %}

{% if not doc.new_flag %}
<table class="table">
	<th>
		<td>{{ _("Name") }}</td>
		<td>{{ _("Code") }}</td>
		<td>{{ _("Creation") }}</td>
		<td>{{ _("Modified") }}</td>
	</th>
	{% for code in codes %}
	<tr>
		<td>{{ doc.bunch_name }}</td>
		<td><code>{{ doc.code }}</code></td>
		<td>{{ frappe.utils.pretty_date(doc.creation) }}</td>
		<td>{{ frappe.utils.pretty_date(doc.modified) }}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<div class="page-card">
	<div class='page-card-head'>
		<span class='indicator blue'>{{ _("Create new") }}</span>
	</div>
   	<form class="form form-enable-iot" method="POST"
        action="/api/method/iot.iot.doctype.iot_device_bunch.iot_device_bunch.add_bunch_code">
		<div class="form-group">
			<label for="bunch_name" class="control-label text-muted small"> {{ _("Name") }}</label>
        	<input name="bunch_name" class="form-control">
		</div>
		<div class="form-group">
			<label for="code" class="control-label text-muted small"> {{_("Code")}}</label>
        	<input name="code" class="form-control">
		</div>
		<div class="form-group">
			<label for="owner_type" class="control-label text-muted small"> {{_("Owner Type")}}</label>
        	<input name="owner_type" class="form-control" value="{{doc.owner_type}}" readonly>
		</div>
		<div class="form-group">
			<label for="owner_id" class="control-label text-muted small"> {{_("Owner ID")}}</label>
        	<input name="owner_id" class="form-control" value="{{doc.owner_id}}" readonly>
		</div>

		<button class="btn btn-primary btn-enable-iot" type="submit">{{ _("Enable") }}</button>
	</form>
</div>
{% endif %}

<script>
	{% include "templates/pages/iot_device_bunch.js" %}
</script>

{% endblock %}
