{% extends "templates/web.html" %}

{% block title %} {{(_("Reset {0} Password")).format(user.full_name)}} {% endblock %}

{% block page_content %}

<div class="page-card">
	<div class='page-card-head'>
		<span class='indicator blue'>{{ _("Reset Password") }}</span>
	</div>
    <form id="reset-password">
		<div class="form-group">
			<input id="new_password" type="password"
				class="form-control" placeholder="{{ _("New Password") }}">
			<span class="password-strength-indicator indicator"></span>
		</div>
		<p class='password-strength-message text-muted small hidden'></p>
		<button type="submit" id="update"
			class="btn btn-primary">{{_("Update")}}</button>
    </form>
</div>
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
</style>

<script>
	{% include "templates/pages/iot_reset_password.js" %}
</script>

{% endblock %}

{% block style %}
<style>
	.password-strength-indicator {
		float: right;
		padding: 15px;
		margin-top: -38px;
		margin-right: -7px;
	}

	.password-strength-message {
		margin-top: -10px;
	}
</style>
{% endblock %}