{% extends "templates/web.html" %}

{% block title %}{{ doc.comp_name }}{% endblock %}

{% block header %} <h1>{{ _("IOT Companies") }}</h1> {% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/iot_company.css" %}
	</style>
{% endblock %}


{% block page_content %}

<!-- no-cache -->
<div class="row iot-company-info hidden-xs" style="min-height: 200px; padding-bottom: 50px;">
	<div class="col-sm-4">
		<span class="user-image-myaccount"></span>
		{% if is_admin %}
		<div>
			<ul class="list-unstyled">
				<li><a href="/update-iot-company?name={{ doc.name }}">
					<h6 class="text-muted">{{ _("Edit") }}</h6>
				</a></li>
					<li><a href="/update-iot-employee-group?name={{ doc.name }}">
					<h6 class="text-muted">{{ _("Edit Employee Groups") }}</h6>
				</a></li>

			</ul>
		</div>
		{% endif %}
	</div>
	<div class="col-sm-8 pull-left">
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Name") }}</div>
			<div class="col-xs-8">{{ doc.comp_name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Address") }}</div>
			<div class="col-xs-8">{{ doc.address }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Administrator") }}</div>
			<div class="col-xs-8">{{ doc.admin }}</div>
		</div>
	</div>
</div>


{% if doc.groups %}
	<div class="clearfix">
	  <h4 style="float: left;">{{ _("Groups") }}</h4>
{% if is_admin %}
	  <a class="btn btn-secondary btn-default btn-sm" style="float: right; position: relative; top: 10px;" href='/update-iot-employee-group?name={{ doc.name }}'>{{ _("New group") }}</a>
{% endif %}

	</div>
	<div class='company-group-section'>
		<div class='company-group'>
		{% include "templates/includes/iot_companies/iot_company_groups.html" %}
		</div>
		<p><a id= 'more-groups' style='display: none;' class='more-groups small underline'>{{ _("More") }}</a><p>
	</div>
{% else %}
	<p class="text-muted">{{ _("No groups") }}</p>
{% endif %}

<div class='padding'></div>

{% if is_admin %}

<div class="clearfix">
  <h4 style="float: left;">{{ _("Users") }}</h4>
  <a class="btn btn-secondary btn-default btn-sm" style="float: right; position: relative; top: 10px;" href='/iot_add_user?company={{ doc.name }}'>{{ _("New user") }}</a>
</div>

{% if doc.users %}
	<div class='company-user-section'>
		<div class='company-user'>
		{% include "templates/includes/iot_companies/iot_company_users.html" %}
		</div>
		<p><a id= 'more-users' style='display: none;' class='more-users small underline'>{{ _("More") }}</a><p>
	</div>
{% else %}
	<p class="text-muted">{{ _("No users") }}</p>
{% endif %}

<div class='padding'></div>

{% endif %} <!-- is_admin -->

<script>
	{% include "templates/pages/iot_company.js" %}
</script>

{% endblock %}
