{% extends "templates/web.html" %}

{% block title %} {{_("Enable IOT for ")}} {{ doc.user }} {% endblock %}

{% block page_content %}

<div class="page-card">
	<div class='page-card-head'>
		<span class='indicator blue'>{{ _("Enable IOT") }}</span>
	</div>
   	<form role="form form-enable-iot" method="POST"
        action="/api/method/iot.templates.pages.iot_enable.enable">
        <input type="hidden" name="enabled" value="{{ doc.enabled }}">
        <input type="text" name="user" value="{{ doc.user }}" readonly="readonly">
        <input type="text" name="enterprise" value="{{ doc.enterprise }}" readonly="readonly">
		<input name="login_name"
			class="form-control" placeholder="{{ _('Login Name') }}" required>
		<br>
		<button class="btn btn-primary btn-enable-iot" type="submit">{{ _("Enable") }}</button>
	</form>
</div>

{% endblock %}