{% extends "templates/web.html" %}

{% block title %}{{ doc.dev_name }}{% endblock %}

{% block header %}  {% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/css/jquery.dataTables.min.css" %}
		{% include "templates/includes/css/responsive.dataTables.min.css" %}
	</style>
{% endblock %}


{% block page_content %}

<div class="btn btn-success" devname="{{ doc.dev_name }}" devid="{{ doc.name }}">{{ doc.dev_name }}
</div>
{% for dev in devices %}
<div class="btn btn-default" devname="{{ dev.name }}" devid="{{ dev.sn }}">{{ dev.name }}
</div>

{% endfor %}


    <div class="col-xs-12 col-sm-12 widget-container-col" id="widget-container-col-2">
        <div class="widget-box widget-color-grey" id="widget-box-2">
            <div class="col-xs-12 col-sm-4">
                <h1 class="widget-title bigger lighter" id="devname">
                    {{_('NAME:')}}{{ doc.dev_name }}
                </h1>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h1 class="widget-title bigger lighter" id="devsn">
                    {{_('SN:')}}{{ doc.name }}
                </h1>
            </div>

            <table id="example"  class="display responsive nowrap tooltip-options" data-toggle="tooltip" cellspacing="0" width="100%" title="<h2>双击查看历史数据</h2>">
                <thead>
                    <tr>
                        <th>{{_('Name')}}</th>
                        <th>{{_('Description')}}</th>
                        <th>{{_('TimeStamp')}}</th>
                        <th>{{_('Value')}}</th>
						<th>{{_('Quality')}}</th>
                    </tr>
                </thead>

            </table>
        </div>
        </div>

    </div><!-- /.span -->



<script>
	{% include "templates/pages/iot_device.js" %}
</script>

 <script type="text/javascript">



 </script>

{% endblock %}

{% block script %}
		<script src="/assets/iot/js/jquery.dataTables.min.js"></script>
		<script src="/assets/iot/js/jquery.dataTables.bootstrap.min.js"></script>
        <script src="/assets/iot/js/dataTables.responsive.min.js"></script>
{% endblock %}






