{% extends "templates/web.html" %}

{% block title %}{{ _("My IOT Account") }}{% endblock %}

{% block header %} <h1>{{ _("My IOT Account") }}</h1> {% endblock %}

{% block style %}
    <style>
        {% include "templates/includes/iot_me.css" %}
    </style>
{% endblock %}


{% block page_content %}

<!-- no-cache -->
<div class="row your-account-info hidden-xs" style="min-height: 200px; padding-bottom: 50px;">
	<div class="col-sm-4">
			<span class="user-image-myaccount"></span>
		</div>
	<div class="col-sm-8 pull-left">
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Username") }}</div>
			<div class="col-xs-8">{{ user }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Name") }}</div>
			<div class="col-xs-8">{{ fullname }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Enterprise") }}</div>
			<div class="col-xs-8">{{ doc.enterprise }}</div>
		</div>
	</div>
</div>

<div class="clearfix">
  <h4 style="float: left;">{{ _("Private Bunch Codes") }}</h4>
  <a class="btn btn-secondary btn-default btn-sm" style="float: right; position: relative; top: 10px;" href='/iot_device_bunch?new=1'>{{ _("New Bunch Code") }}</a>
</div>

{% if doc.bunch_codes %}
	<div class='device-bench-code-section'>
		<div class='device-bench-code'>
		{% include "templates/includes/iot_enterprise/iot_device_bunch_codes.html" %}
		</div>
		<p><a id= 'more-bunch-codes' style='display: none;' class='more-bunch-codes small underline'>{{ _("More") }}</a><p>
	</div>
{% else %}
	<p class="text-muted">{{ _("No device bunch codes") }}</p>
{% endif %}

<div class='padding'></div>

<script>
	{% include "templates/pages/iot_me.js" %}
</script>

{% endblock %}
