{% extends "templates/pages/cloud_company_group.html" %}

{% block style %}
	<style>
		{% include "templates/includes/iot_company_group.css" %}
	</style>
{% endblock %}

{% block page_group_header %}

<div class="clearfix">
  <h4 style="float: left;">{{ _("Devices") }}</h4>
  <a class="btn btn-secondary btn-default btn-sm" style="float: right; position: relative; top: 10px;" href='/iot_device_bunch?new=1&type=Cloud Company Group&owner={{ doc.name }}'>{{ _("Add Device") }}</a>
</div>

{% if doc.devices %}
	<div class='device-section'>
		<div class='device'>
		{% include "templates/includes/iot_companies/iot_device.html" %}
		</div>
		<p><a id= 'more-devices' style='display: none;' class='more-devices small underline'>{{ _("More") }}</a><p>
	</div>
{% else %}
	<p class="text-muted">{{ _("No Devices") }}</p>
{% endif %}


<script>
	{% include "templates/pages/iot_company_group.js" %}
</script>

{% endblock %}
