{% extends "templates/web.html" %}

{% block title %} {{_("Enable IOT for ")}} {{ doc.user }} {% endblock %}

{% block page_content %}

<div class="page-card">
	<div class='page-card-head'>
		<span class='indicator blue'>{{ _("Enable IOT") }}</span>
	</div>
   	<form role="form form-enable-iot" method="POST"
        action="/api/method/iot.templates.pages.iot_enable.enable">
        <input type="hidden" name="enabled" value="{{ doc.enabled }}">
		<input type="hidden" name="enterprise" value="{{ doc.enterprise }}">

		<div class="form-group">
			<label for="user" class="control-label text-muted small">Username</label>
        	<input name="user" class="form-control" value="{{ doc.user }}" readonly>
		</div>

		<div class="form-group">
			<label for="login_name" class="control-label text-muted small">Login Name</label>
			<input name="login_name" class="form-control"
				   value={{ doc.login_name }} placeholder="{{ _('Login Name') }}" required>
		</div>
		<button class="btn btn-primary btn-enable-iot" type="submit">{{ _("Enable") }}</button>
	</form>
</div>

{% endblock %}