{% extends "templates/web.html" %}

{% block title %}{{ _("Adding User to ") }} {{ doc.company }}{% endblock %}
{% block header %} <h1>{{ doc.company }}</h1> {% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/iot_add_user.css" %}
	</style>
{% endblock %}


{% block page_content %}

{% if doc.possible_users %}
<div class="clearfix">
  <h4 style="float: left;">{{ _("Possible Users") }}</h4>
</div>
{% for user in doc.possible_users %}
	<div class='user'>
		<a class="no-decoration user-link {{ user.css_seen }}"
		   href="/iot_add_user?user={{ user.name }}&company={{ doc.company }}">
		<div class='row user-item'>
			<div class='col-xs-9'>
				<span class="indicator {{ "green" if user.enabled else "darkgrey" }}" title="{{ user.enabled }}">
					{{ user.name }}</span>
	 				<div class="small text-muted item-timestamp"
	 					title="{{ frappe.utils.pretty_date(user.modified) }}">
	 					modified {{ frappe.utils.pretty_date(user.creation) }}
	 				</div>
			</div>
			<!--
			<div class='col-xs-2'>
				 <span style="display: inline-block">
					<div class="switch">
						<input type="checkbox" {{ "checked" if user.enabled }}/>
					</div>
				</span>
			</div>
			-->
		</div>
		</a>
	</div>
{% endfor %}
{% endif %}

<div class="clearfix">
  <h4 style="float: left;">{{ _("Add User By Email") }}</h4>
</div>

<div class="page-card">
	<div class='page-card-head'>
		<span class='indicator blue'>{{ _("Add User by Email") }}</span>
	</div>
   	<form role="form form-iot-add-user">
        <input type="hidden" id="enable" name="enabled" value="True">
        <input type="hidden" id="company" name="company" value="{{ doc.company }}">

		<div class="form-group">
			<label for="user" class="control-label text-muted small"> {{ _("Email") }}</label>
        	<input id="user" name="user" class="form-control">
		</div>
		<p class='iot-add-user-strength-message text-muted small hidden'></p>
		<button class="btn btn-primary btn-iot-add-user" type="submit">{{ _("Add User") }}</button>
	</form>
</div>

<script>
	{% include "templates/pages/iot_add_user.js" %}
</script>

{% endblock %}
