{% extends "templates/web.html" %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
	<h1>{{ doc.name }}</h1>
{% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/iot_device_bunch.css" %}
	</style>
{% endblock %}


{% block page_content %}

{% if not doc.new_flag %}

<!-- no-cache -->
<div class="row iot-device-bunch-info hidden-xs" style="min-height: 400px; padding-bottom: 50px;">
	<div class="col-sm-4">
		<span class="user-image-myaccount"></span>
		<div>
			<ul class="list-unstyled">
				<li><a href="/update-iot-device-bunch?name={{ doc.name }}">
					<h6 class="text-muted">{{ _("Edit") }}</h6>
				</a></li>

			</ul>
		</div>
	</div>
	<div class="col-sm-8 pull-left">
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Name") }}</div>
			<div class="col-xs-8">{{ doc.bunch_name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Code") }}</div>
			<div class="col-xs-8">{{ doc.code }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Owner Type") }}</div>
			<div class="col-xs-8">{{ doc.owner_type }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Owner ID") }}</div>
			<div class="col-xs-8">{{ doc.owner_id }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Creation") }}</div>
			<div class="col-xs-8">{{ frappe.utils.pretty_date(doc.creation) }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Modified") }}</div>
			<div class="col-xs-8">{{ frappe.utils.pretty_date(doc.modified) }}</div>
		</div>
	</div>
</div>

{% else %}
<div class="page-card">
	<div class='page-card-head'>
		<span class='indicator blue'>{{ _("Create new") }}</span>
	</div>
   	<form role="form form-enable-iot">
		<div class="form-group">
			<label for="bunch_name" class="control-label text-muted small"> {{ _("Name") }}</label>
        	<input id="bunch_name" class="form-control">
		</div>
		<div class="form-group">
			<label for="code" class="control-label text-muted small"> {{_("Code")}}</label>
        	<input id="code" class="form-control">
			<span class="bunch-code-strength-indicator indicator"></span>
		</div>
		<div class="form-group">
			<label for="owner_type" class="control-label text-muted small"> {{_("Owner Type")}}</label>
        	<input id="owner_type" class="form-control" value="{{doc.owner_type}}" readonly>
		</div>
		<div class="form-group">
			<label for="owner_id" class="control-label text-muted small"> {{_("Owner ID")}}</label>
        	<input id="owner_id" class="form-control" value="{{doc.owner_id}}" readonly>
		</div>
		<p class='bunch-code-strength-message text-muted small hidden'></p>
		<button class="btn btn-primary btn-enable-iot" type="submit">{{ _("Enable") }}</button>
	</form>
</div>
{% endif %}

<script>
	{% include "templates/pages/iot_device_bunch.js" %}
</script>

{% endblock %}
