{% extends "templates/web.html" %}

{% block title %}{{ doc.name }}{% endblock %}

{% block header %}
    <h1>{{ doc.user }}</h1>
{% endblock %}

{% block style %}
    <style>
        {% include "templates/includes/iot_me.css" %}
    </style>
{% endblock %}


{% block page_content %}

<div class="panel panel-success">
	<div class="panel-heading">{{ _("Private Bunch Codes") }}</div>
	<div class="panel-body">
		<table class="table">
			<th>
				<td>{{ _("Name") }}</td>
				<td>{{ _("Code") }}</td>
				<td>{{ _("Creation") }}</td>
				<td>{{ _("Modified") }}</td>
			</th>
			{% for code in codes %}
			<tr>
				<td>{{ code.bunch_name }}</td>
				<td><code>{{ code.code }}</code></td>
				<td>{{ frappe.utils.pretty_date(code.creation) }}</td>
				<td>{{ frappe.utils.pretty_date(code.modified) }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="panel-footer">Panel footer</div>
</div>

<script>
	{% include "templates/pages/iot_me.js" %}
</script>

{% endblock %}
