{% extends "templates/web.html" %}

{% block title %}{{ doc.dev_name }}{% endblock %}

{% block header %} <h1>{{ _("IOT Device") }}</h1> {% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/iot_device.css" %}
	</style>
{% endblock %}


{% block page_content %}

<!-- no-cache -->
<div class="row iot-device-info hidden-xs" style="min-height: 400px; padding-bottom: 50px;">
	<div class="col-sm-4">
		<span class="user-image-myaccount"></span>
		<div>
			<ul class="list-unstyled">
				<li><a href="/update-iot-device?name={{ doc.name }}">
					<h6 class="text-muted">{{ _("Edit") }}</h6>
				</a></li>

			</ul>
		</div>
	</div>
	<div class="col-sm-8 pull-left">
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Name") }}</div>
			<div class="col-xs-8">{{ doc.dev_name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("SN") }}</div>
			<div class="col-xs-8">{{ doc.sn }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Bunch Code") }}</div>
			<div class="col-xs-8">{{ doc.bunch }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Enterprise") }}</div>
			<div class="col-xs-8">{{ doc.enterprise }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Status") }}</div>
			<div class="col-xs-8">{{ doc.device_status }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Last Updated") }}</div>
			<div class="col-xs-8">{{ frappe.utils.pretty_date(doc.last_updated) }}</div>
		</div>
	</div>
</div>

<script>
	{% include "templates/pages/iot_device.js" %}
</script>

{% endblock %}
