{% extends "templates/web.html" %}

{% block title %}{{ doc.grp_name }}{% endblock %}

{% block header %} <h1>{{ _("IOT Company Group") }}</h1> {% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/iot_company_group.css" %}
	</style>
{% endblock %}


{% block page_content %}

<!-- no-cache -->
<div class="row iot-employee-group-info hidden-xs" style="min-height: 200px; padding-bottom: 50px;">
	<div class="col-sm-4">
		<span class="user-image-myaccount"></span>
		<div>
			<ul class="list-unstyled">
				{% if is_admin %}
				<li><a href="/update-iot-employee-group?name={{ doc.name }}">
					<h6 class="text-muted">{{ _("Edit") }}</h6>
				</a></li>
				{% endif %}

			</ul>
		</div>
	</div>
	<div class="col-sm-8 pull-left">
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Company") }}</div>
			<div class="col-xs-8">{{ doc.company }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Name") }}</div>
			<div class="col-xs-8">{{ doc.group_name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Description") }}</div>
			<div class="col-xs-8">{{ doc.description }}</div>
		</div>
	</div>
</div>

<div class="clearfix">
  <h4 style="float: left;">{{ _("Bunch Codes") }}</h4>
  <a class="btn btn-secondary btn-default btn-sm" style="float: right; position: relative; top: 10px;" href='/iot_device_bunch?new=1&type=Cloud Company Group&owner={{ doc.name }}'>{{ _("New bunch code") }}</a>
</div>

{% if doc.bunch_codes %}
	<div class='device-bench-code-section'>
		<div class='device-bench-code'>
		{% include "templates/includes/iot_companies/iot_device_bunch_codes.html" %}
		</div>
		<p><a id= 'more-bunch-codes' style='display: none;' class='more-bunch-codes small underline'>{{ _("More") }}</a><p>
	</div>
{% else %}
	<p class="text-muted">{{ _("No bunch-codes") }}</p>
{% endif %}

{% if is_admin %}
<div class='padding'></div>
<div class="clearfix">
  <h4 style="float: left;">{{ _("Users") }}</h4>
  <a class="btn btn-secondary btn-default btn-sm" style="float: right; position: relative; top: 10px;" href='/iot_user?new=1&company={{ doc.ent_name }}'>{{ _("New user") }}</a>
</div>

{% if doc.users %}
	<div class='company-user-section'>
		<div class='company-user'>
		{% include "templates/includes/iot_companies/iot_company_users.html" %}
		</div>
		<p><a id= 'more-users' style='display: none;' class='more-users small underline'>{{ _("More") }}</a><p>
	</div>
{% else %}
	<p class="text-muted">{{ _("No users") }}</p>
{% endif %}

<div class='padding'></div>
{% endif %} <!-- if is_admin -->


<script>
	{% include "templates/pages/iot_company_group.js" %}
</script>

{% endblock %}
