{% extends "templates/web.html" %}

{% block title %}{{ _("IOT Account - ") }} {{ doc.user }}{% endblock %}
{% block header %} <h1>{{ _("IOT User") }}</h1> {% endblock %}

{% block style %}
	<style>
		{% include "templates/includes/iot_user.css" %}
	</style>
{% endblock %}


{% block page_content %}

<!-- no-cache -->
<div class="row your-account-info hidden-xs" style="min-height: 400px; padding-bottom: 50px;">
	<div class="col-sm-4">
			<span class="user-image-myaccount"></span>
			<div>
				<ul class="list-unstyled">
					<li><a href="/iot_reset_password?name={{ doc.user }}">
						<h6 class="text-muted">{{ _("Reset Password") }}</h6>
					</a></li>
						<li><a href="/update-iot-user?name={{ doc.user }}">
						<h6 class="text-muted">{{ _("Edit IOT Profile") }}</h6>
					</a></li>
						<li><form role="form form-iot-delete-user">
						<input type="hidden" id="company" name="company" value="{{ doc.company }}">
						<input type="hidden" id="user" name="user" value="{{ doc.user }}">
						<button class="btn btn-warning btn-iot-delete-user" type="submit">
							{{ _("Delete User From") }} {{ doc.company }}</button>
					</form>
					</a></li>
				</ul>
			</div>
		</div>
	<div class="col-sm-8 pull-left">
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Username") }}</div>
			<div class="col-xs-8">{{ user_doc.name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Name") }}</div>
			<div class="col-xs-8">{{ user_doc.full_name }}</div>
		</div>
		<div class="row">
			<div class="col-xs-4 text-right text-muted">{{ _("Enterprise") }}</div>
			<div class="col-xs-8">{{ doc.company }}</div>
		</div>
	</div>
</div>


<script>
	{% include "templates/pages/iot_user.js" %}
</script>

{% endblock %}
